asgiref
beautifulsoup4
certifi
chardet
cycler
defusedxml
dj-database-url
Django
django-bootstrap4
django-debug-toolbar
django-heroku
django-templates-macros
future
gunicorn
idna
kiwisolver
numpy
oauthlib
psycopg2
psycopg2-binary
pyparsing
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
schedule
six
soupsieve
spacy
sqlparse
urllib3
whitenoise
wikipedia
requests
waitress
ginza
ja-ginza
twitter