@charset "UTF-8";
/* CSS Document */

html{
    background-color: #fff;
	height: 100%;
}

body{
	font-family: Verdana, Arial;
	font-size: 14px;
}

.box {
    width: 86vw;
    height: 24vw;
    max-width: 860px;
    max-height: 240px;
}

#container {
    width: 100vw;
    padding-right: min(1.5vw, 15px);
    padding-left: min(1.5vw, 15px);
    margin-right: auto;
    margin-left: auto;
}

#container1 {
    background-image: url('../img/fukidashi_left.png');
    background-size: cover;
}

#container2 {
    background-image: url('../img/fukidashi_right.png');
    background-size: cover;
}

#komaba, #utsumi {
    text-align:  center;
    width: 42vw;
    height: 18vw;
    max-width: 420px;
    max-height: 180px;
    margin: 0 auto;
    padding: min(3vw, 30px);
    font-size: min(2vw, 20px);
}

#neta_info {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

#form, #neta, #neta_share_button {
    display: none;
}