@charset "UTF-8";
/* CSS Document */

html{
    background-color: #fff;
	height: 100%;
}

.box {
    width: 90vw;
    height: 25vw;
    max-width: 860px;
    max-height: 240px;
}

#container {
    width: 100vw;
    padding-right: min(1.5vw, 15px);
    padding-left: min(1.5vw, 15px);
    margin-right: auto;
    margin-left: auto;
}

#container1 {
    background-image: url('../img/fukidashi_left.png');
    background-size: cover;
}

#container2 {
    background-image: url('../img/fukidashi_right.png');
    background-size: cover;
}

#komaba, #utsumi {
    text-align:  center;
    width: 46vw;
    height: 20vw;
    max-width: 420px;
    max-height: 180px;
    margin: 0 auto;
    padding: min(3vw, 30px);
    font-size: min(2vw, 20px);
}

#neta_info {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: max(10px, min(2vw, 15px));
    border-radius: 10px;
    padding: 10px;
}

.description {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: max(10px, min(2vw, 20px));
}

#form, #neta, #neta_share_button {
    display: none;
    font-family: 'Noto Sans JP', sans-serif;
}