@charset "UTF-8";
/* CSS Document */

html{
    background-color: #fff;
	height: 100%;
}

body{
	font-family: Verdana, Arial;
	font-size: 14px;
}

#container {
	min-height: 100%;
	height: 480px;
	width: 860px;
	margin: 20px auto;
	padding: 0 10px;
	background-color: #eee;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.box {
	height: 240px;
	width: 860px;
}

#container1 {
    background-image: url('../img/fukidashi_left.png');
}

#container2 {
    background-image: url('../img/fukidashi_right.png');
}

#komaba, #utsumi {
    text-align:  center;
    width: 420px;
    height: 180px;
    margin: 0 auto;
    padding: 30px;
    font-size: 20px;
}