@charset "UTF-8";
/* CSS Document */

html{
    background-color: #fff;
	height: 100%;
}

body{
	font-family: Verdana, Arial;
	font-size: 14px;
}

.box {
	height: 240px;
	width: 860px;
}

#container1 {
    background-image: url('../img/fukidashi_left.png');
}

#container2 {
    background-image: url('../img/fukidashi_right.png');
}

#komaba, #utsumi {
    text-align:  center;
    width: 420px;
    height: 180px;
    margin: 0 auto;
    padding: 30px;
    font-size: 20px;
}

#neta {
    display: none;
}